.contactBtn {
    margin-top: 9px;
    margin-right: 15px;
}
.margin15L {
    margin-left: 15px;
}
.margin15R {
    margin-right: 15px;
}
.margin5R {
    margin-right: 5px;
}
.margintop10 {
    margin-top: 10px;
}
.marginbot10 {
    margin-bottom: 10px;
}
.margintop40 {
    margin-top: 40px;
}
.fw-bold {
    font-weight: 700;
}